<!DOCTYPE html>
<html lang="en">

<%- include('layouts/index_page/head') -%>

<body>
<div class="container">

    <%- include('layouts/index_page/header') -%>

    <div class="main-content">
        <section class="section">
            <h2 class="section-header" style="font-size: 36px">Page was not found!</h2>
        </section>

        <hr />

        <!-- Talk to us -->
        <%- include('layouts/index_page/talk_to_us') -%>
    </div>
</div>

<!-- Footer -->
<%- include('layouts/index_page/footer') -%>

<%- include('layouts/index_page/script') -%>

</body>
</html>
