<!DOCTYPE html>
<html lang="en">

<%- include('layouts/index_page/head') -%>

<body>
<div class="container">

    <%- include('layouts/index_page/header') -%>

    <div class="main-content">
        <section class="section">
            <h2 class="section-header">Profile</h2>
            <div class="profile-section">
                <img class="profile-pic" src="<%= user.profilePic %>" alt="profile picture">
                <div class="profile-info">
                    <div class="profile-username">Username: <%= user.username %></div>
                    <div class="profile-email">Email address: <%= user.email %></div>
                    <div class="profile-orders">Amount of orders: <%= orders.length %></div>
                    <a id="btn-settings" href="/profile/settings" class="btn btn-primary">Settings</a>
                </div>
            </div>
        </section>

        <hr/>

        <section class="section">
            <h2 class="section-header">My Last Orders</h2>
            <div class="responsive-table">

                <table>
                    <tr class="tr-header">
                        <th>&nbspOrder Number</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th></th>
                    </tr>

                    <% for (var i = 0; i < orders.length; i++) { %>
                    <tr class="menu-item">
                        <td class="menu-item-title"><%= i+1 %></td>
                        <td class="menu-item-price"><%= orders[i].datePurchased.toDateString() %></td>
                        <td class="menu-item-price"><%= orders[i].total %></td>
                        <td class="btn-add">
                            <a href="/profile/order/<%= orders[i]._id %>">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </table>

            </div>
        </section>

        <hr />

        <!-- Talk to us -->
        <%- include('layouts/index_page/talk_to_us') -%>
    </div>
</div>

<!-- Footer -->
<%- include('layouts/index_page/footer') -%>

<%- include('layouts/index_page/script') -%>

</body>
</html>
